@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
@import url("https://fonts.googleapis.com/css?family=Caveat");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
  body,
  html {
    height: 100%;
    min-height: 100%;
  }
}

@media screen and (min-width: 1180px) {
  body {
    width: 100%;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  height: 10rem;
}

@media screen and (max-width: 767px) {
  .header-container {
    height: 8rem;
  }
}

.header {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 0.9;
}

.header-left__title {
  font-size: 3rem;
  font-family: 'Sawarabi Mincho', sans-serif;
  white-space: nowrap;
}

.nav-list {
  display: flex;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .nav-list {
    font-size: 1.5rem;
    display: inline-block;
  }
}

.nav-list__link {
  padding: 0 1.5rem 0 1.5rem;
  color: black;
  border-radius: 1rem;
  font-family: 'Lato', sans-serif;
}

.nav-list__link:hover {
  opacity: 0.6;
  background-color: #739DB4;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  /*　ハンバーガーボタン　*/
  .hamburger {
    margin: 1rem 1rem 0 0;
    position: absolute;
    display: block;
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    transform: rotate(45deg);
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateY(-100%);
    width: 100%;
  }
  nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover {
    background: #ddd;
  }
  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 0.5em 0;
    text-decoration: none;
  }
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateY(0%);
    transition: all 0.5s;
  }
}

.main-img {
  background-image: url("../img/watercolor.png");
  height: 80vh;
  position: relative;
}

@media screen and (max-width: 767px) {
  .main-img {
    height: 100vh;
  }
}

.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Caveat', cursive;
}

.main-title__txt {
  font-size: 6.5rem;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .main-title__txt {
    font-size: 4.5rem;
  }
}

.main-title__txt span {
  opacity: 0;
  transition: .6s ease-in-out;
}

.about-box__q {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 1rem;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .about-box__q {
    font-size: 1.5rem;
  }
}

.about-box__a {
  box-sizing: border-box;
  padding: 1.6rem;
  background-color: #e0f8fa;
  border-radius: 1rem;
  line-height: 2;
  font-size: 1.6rem;
  text-align: left;
  min-height: 22rem;
  box-shadow: 2px 2px 4px -2px gray;
}

@media screen and (max-width: 1179px) {
  .about-box__a {
    width: 25rem;
  }
}

@media screen and (max-width: 767px) {
  .about-box__a {
    height: auto;
    width: auto;
  }
}

.about-box__link {
  color: white;
}

.bold {
  font-weight: bold;
}

.skinBody {
  background: #D6E9FC;
}

.skinBody2 {
  background: url("http://detarame.moo.jp/sample/img/aw1.png") repeat 0 0;
}

.skinBody3 {
  background: url("http://detarame.moo.jp/sample/img/aw2.png") repeat 0 0;
}

.skinFrame {
  background: url("http://detarame.moo.jp/sample/img/aw3.png") repeat 0 0;
}

.intro-box {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .intro-box {
    flex-direction: column;
    align-items: center;
  }
}

.intro-box-left {
  text-align: left;
}

.intro-box-left__name {
  white-space: nowrap;
  padding: 0 1rem;
  border-radius: 1rem;
  display: inline-block;
  font-size: 2rem;
  border: 0.2rem solid #e0f8fa;
}

.intro-box-left__name--small {
  font-size: 1.5rem;
}

.intro-box-right {
  width: 40%;
}

@media screen and (max-width: 767px) {
  .intro-box-right {
    width: 20%;
  }
}

.intro-box-right__title {
  font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 767px) {
  .intro-box-right__title {
    display: inline-block;
    border: 0.1rem solid white;
    padding: 0.2rem;
    border-radius: 1rem;
    font-size: 2rem;
  }
}

.intro-box-right__detail {
  font-size: 1.6rem;
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  .intro-box-right__detail {
    display: block;
    padding: 0.5rem;
  }
}

.contact {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  font-size: 2rem;
  padding: 5rem 0 7rem 0;
}

.section-title {
  margin: 7.5rem 0 7.5rem;
  text-align: center;
  line-height: 1.0;
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 0.05em;
}

.btn-box--left {
  text-align: left;
}

.btn-box--rigth {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */